- if @partners.empty?
  %h1 No Partners
- else
  %h1 Partners
  %table.table.zebra-striped
    %col{:width => "125"}/
    %col{:width => "100"}/
    %col{:width => "50"}/
    %col{:width => "50"}/
    %col{:width => "50"}/
    %col{:width => "50"}/
    %col{:width => "100"}/
    %thead
      %tr
        %th Name
        %th Domain
        %th Currency
        %th Current Kula Fee
        %th Current Discount Fee
        %th # Payments
        %th 
    %tbody
      - @partners.each do |partner|
        %tr
          %td= link_to partner.display_name, edit_partner_path(partner)
          %td= partner.domain
          %td= partner.currency
          %td= number_to_percentage(partner.current_kula_rate * 100)
          %td= number_to_percentage(partner.current_discount_rate * 100)
          %td= partner.payments.count
          %td= link_to 'Review Debt', debt_partner_path(partner)
