.field
  = f.label :email
  = f.text_field :email
.field
  = f.label :role
  = f.select :role, options_for_select(User::VALID_ROLES, f.object.role), {}, :onchange => "update_affiliation();"
.field#partner_section{:style => 'display:none'}
  = f.label :partner_id
  = f.select :partner_id, options_from_collection_for_select(partners, 'partner_identifier', 'display_name', f.object.partner_id), :prompt => 'Select a Partner'
.field#cause_section{:style => 'display:none'}
  = label_tag :cause
  = text_field_tag :cause, cause, :class => 'autocompleted_cause', :title => I18n.t('autocomplete_field')
#editing_user
:javascript
  