- last_cause = nil
%br
= form_tag causes_path, :method => :get, :enforce_utf8 => false do
  .large-9.columns
    .callout-panel.radius
      .large-3.columns
        %p
          Cause Name
          = text_field_tag :cause_name, @cause_name, :title => I18n.t('cause_filter_instructions')
      -# 
        .large-3.columns
          %p 
            Partner
            = select_tag 'partner', options_from_collection_for_select(Partner.order(:display_name), 'partner_identifier', 'display_name', @partner_id), :prompt => 'Select a Partner'
      .large-3.columns
        %p 
          Balance Due
          = number_field_tag :min_balance, @min_balance, :min => 0
      = submit_tag 'Filter', :class => "btn btn-large btn-primary"
      %br
- if @causes.empty?
  %h1.newline No Causes with balances
- else
  %table.table.zebra-striped
    %caption Cause balances
    %col{:width => "300"}/
    %col{:width => "75"}/
    %col{:width => "75"}/
    %col{:width => "75"}/
    %col{:width => "75"}/
    %thead
      %tr
        %th Cause
        %th Due
        %th Donated
        %th Payments
        %th Adjustments
    %tbody
      - @causes.each do |cause|
        %tr
          %td= link_to cause[:name], cause[:path]
          %td= number_to_currency(cause[:due])
          %td= number_to_currency(cause[:donated])
          %td= number_to_currency(cause[:payments])
          %td= number_to_currency(cause[:adjustments])
  
  %center= foundation_paginate @causes
