- if @partner_balances.empty?
  %h1 No balances for this cause
- else
  %h1= @cause.nil? ? nil : @cause.org_name
  - @partner_balances.each do |partner_id, balance_data|
    %table.table.zebra-striped
      %caption= Partner.find_by_partner_identifier(partner_id).name
      %col{:width => "50"}/
      %col{:width => "100"}/
      %col{:width => "50"}/
      %col{:width => "50"}/
      %col{:width => "50"}/
      %col{:width => "50"}/
      %col{:width => "50"}/
      %col{:width => "50"}/
      %col{:width => "50"}/
      %col{:width => "100"}/
      %thead
        %tr
          %th Year
          %th Amount Due
          %th Donee Amount
          %th Payments 
          %th Adjustments 
          %th Gross
          %th Discount 
          %th Net 
          %th Kula Fees
          %th
      %tbody
        - balance_data.each do |year, balances|
          %tr
            %td= year
            %td{:style => balances[:amount_due] < 0 ? 'color:red' : ''}
              = number_to_currency(balances[:amount_due].abs)
            %td= number_to_currency(balances[:donee])
            %td= number_to_currency(balances[:payments].abs)
            %td{:style => balances[:adjustments] < 0 ? 'color:red' : ''} 
              = number_to_currency(balances[:adjustments].abs)
            %td= number_to_currency(balances[:gross])
            %td= number_to_currency(balances[:discount])
            %td= number_to_currency(balances[:net])
            %td= number_to_currency(balances[:fees])
            - if balances[:amount_due] > 0
              %td 
                -# TODO: Make payment
                = button_to 'PAY', causes_path
            - else
              %td
%br
%br
= link_to 'Back', causes_path
