.contain-to-grid
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        = link_to(image_tag("kula.png", height: 45), root_path)
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.menu-right.right
        - if current_user.nil?
          %li= link_to 'Login', new_user_session_path
        - else
          - if current_user.any_admin?
            %li= link_to 'Site Admin', site_admin_path
            - if current_user.super_admin?
              %li= link_to 'Rails Admin', rails_admin_path
          %li= link_to 'Log Out', destroy_user_session_path, :method => :delete
= render :partial => 'shared/flash_messages'
