- if payments.empty?
  %h1 No Payments for this partner
- else
  - last_batch = nil
  %table.table.zebra-striped
    %caption= partner.name
    %col{:width => "25"}/
    %col{:width => "100"}/
    %col{:width => "75"}/
    %col{:width => "50"}/
    %col{:width => "50"}/
    %col{:width => "50"}/
    %col{:width => "200"}/
    %thead
      %tr
        %th Batch
        %th Cause
        %th Date
        %th Method
        %th Status
        %th Amount
        %th Comment
        %th
    %tbody
      - payments.each do |payment|
        %tr
          - if payment.batch_id == last_batch
            - batch_display = nil
          - else
            - batch_display = payment.batch_id
            - last_batch = batch_display
          %td= batch_display
          %td= payment.cause.org_name
          %td= payment.date.try(:strftime, ApplicationHelper::DATE_FORMAT)
          %td= payment.payment_method
          %td= payment.status
          %td= number_to_currency(payment.amount)
          %td= payment.comment
          %td= link_to 'Edit', edit_payment_path(payment)
          %td= link_to 'Delete', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }
