.adjustment.row
  .large-2.columns
    = f.hidden_field :_destroy
    = content_tag(:a, 'X', :href => '#', :class => "close", :onclick => "if (confirm('Delete this payment?')) remove_adjustment(this)")
    = label_tag 'Adjustment'    
  .large-2.columns
    = f.label :cause_id
    = f.text_field :cause_id, :value => cause, :class => 'autocompleted_cause', :title => I18n.t('autocomplete_field')
  .large-2.columns
    = f.label :date, 'Date of Adjustment'
    = f.date_select :date
  .large-2.columns
    = f.label :month, 'Month and year of period to apply this adjustment to'
    = f.date_select :month, :add_month_numbers => true, :discard_day => true, :discard_year => true
    = f.label :year
    = f.date_select :year, :discard_day => true, :discard_month => true
  .large-2.columns
    = f.label :amount
    = f.text_field :amount
  .large-2.columns
    = f.label :comment
    = f.text_area :comment, :size => '40x3'
