= javascript_include_tag 'autocomplete.js'
= javascript_include_tag 'payment_status_options.js'
.container
  .row
    .span12
      = render :partial => 'shared/error_messages', :locals => { :errors => @batch.errors, :name => 'Batch' }
  .row
    .span8.offset2
      .content-block
        %h2 New Batch
        .bd
          .row
            .span6
              = form_for @batch do |f|
                = render :partial => 'batch_fields', :locals => { :f => f, :cause => @cause }
                .actions
                  = f.submit 'Create Batch'
